<!DOCTYPE html>
<html>
<head>
<title>URL Shortener</title>

  	<!--Metadata-->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- Bootstrap Core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Exo:400,800,500italic,500" rel="stylesheet" type="text/css">

	<!-- CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  	<link rel="stylesheet" href="style.css">


</head>

<body>


<!--Converter Bar-->
<div class="container">
	<div class="converter">
		<h2 class="title">URL Shortener</h2>
		<div class="bar-container">
			<form class="bar">
				<i class="fas fa-link"></i>
				<input type="text" class="url-input" placeholder="Paste Your URL Here...">
				<button type="submit" class="submit"><i class="fas fa-arrow-right"></i></button>
				<!--<button class="copy"><i class="fas fa-copy"></i></button>-->
			</form>
		</div>
	</div>
	<div class="url-modal">
	</div>
</div>


<!--Javascript-->
<script type="text/javascript" src="script.js"></script>

</body>
</html>